.start-buttons {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-buttons ion-icon {
  padding: 128px;
  font-size: 128px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #ad6f60;
  animation: fade 2s, bounce 2s infinite;
}

.start-buttons ion-icon:hover {
  font-size: 192px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-7%);
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.button-info {
  color: #ad6f60;
  font-size: 20vh;
}

.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  visibility: hidden;
}

.padding {
  font-size: 20vh;
}
