.button {
  background: transparent;
  border: none;
  position: absolute;
}

.button0 {
  padding-right: calc(100vh * 0.1);
  padding-bottom: calc(100vh * 0.08);
  left: 20%;
  top: 58%;
}

.button1 {
  left: 46%;
  top: 54%;
  padding-right: calc(100vh * 0.07);
  padding-bottom: calc(100vh * 0.1);
}

.button2 {
  left: 48%;
  top: 24%;
  padding-right: calc(100vh * 0.07);
  padding-bottom: calc(100vh * 0.13);
}

.button3 {
  left: 54%;
  top: 53%;
  padding-right: calc(100vh * 0.06);
  padding-bottom: calc(100vh * 0.06);
}

.button4 {
  left: 63%;
  top: 54%;
  padding-right: calc(100vh * 0.06);
  padding-bottom: calc(100vh * 0.1);
}

.button5 {
  left: 38%;
  top: 28%;
  padding-right: calc(100vh * 0.08);
  padding-bottom: calc(100vh * 0.08);
}

.button6 {
  left: 49%;
  top: 70%;
  padding-right: calc(100vh * 0.06);
  padding-bottom: calc(100vh * 0.1);
}
