.overlay ion-icon {
  font-size: 10vh;
  cursor: pointer;
  color: #3f322b;
}

.overlay ion-icon:hover {
  font-size: 12vh;
}

.back {
  position: absolute;
  left: -10%;
  top: 82%;
  z-index: 10;
}

.share {
  position: absolute;
  left: -0%;
  top: 82%;
  z-index: 10;
}

.mute {
  position: absolute;
  left: 10%;
  top: 82%;
  z-index: 10;
}
