.bear0 {
  transform-origin: 25%;
}

.bear1 {
  transform-origin: 50%;
}

.bear5 {
  transform-origin: 46%;
}

.bear4 {
  transform-origin: 65%;
}

@keyframes grow {
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.hover {
  animation: grow 0.5s;
}
